.content {
    // background-color: blue;
    display: flex;
    flex-direction: horizontal;
}

.left {
    width: 25vw;
}

.right {
    padding-left: 1vw;
    width: 75vw;
    overflow: hidden;

}

.plant {
    position: relative;
    left: 40px;
    top: 20px;
}

.navbar {
    width: 1600px;
    position: relative;
    right: 600px;
    align-items: center;
    display: flex;
}

.helper {
    position: relative;
    left: 570px;
}

.homelogo {
    position: relative;
    top: -20px;
    font-weight: 700;
    font-size: 50px;
    color: #53301C;
    right: 100px;
}

.userProfile {
    margin: 0;
    padding: 0;
}