.content {
    // background-color: blue;
    display: flex;
    flex-direction: horizontal;
}

.left {
    width: 25vw;
}

.right {
    padding-left: 1vw;
    width: 75vw;
    overflow: hidden;

}

.plant {
    position: relative;
    left: 40px;
    top: -50px;
}

.navbar {
    width: 1600px;
    position: relative;
    right: 600px;
    align-items: center;
    display: flex;
}

.helper {
    position: relative;
    left: 840px;
    top: 0px;
}

.homelogo {
    position: relative;
    top: -20px;
    font-weight: 700;
    font-size: 50px;
    color: #53301C;
    right: 100px;
}

.userProfile {
    margin: 0;
    padding: 0;
}

.logoutbtn{
    position: relative;
    top: 5px;
}

.nav-link{
    color: #53301C;
}

.roll{
    position: relative;
        width: 75px;
        left: 90px;
        bottom: 110px;
}