.content {
    // background-color: blue;
    display: flex;
    flex-direction: horizontal;
}

.left {
    width: 25vw;
}
.right {
    padding-left: 1vw;
    width: 75vw;
    overflow: hidden;

}

.plant {
    position: relative;
    background-color: black;
}