.shelf {
    position: relative;
    top: 205px;
    width: 70vw;
    // margin-left: 160px;
}

.row {
    // background-color: blue;
    margin-bottom: 80px;
    ::-webkit-scrollbar {
        display: none;
    }
    width: 75vw;
    display: flex;
    flex-direction: vertical;
    position: relative;
    left: 0px;
    justify-content: right;

    .shelfName {
        width: 100%;
        color: #53301C;
        font-size: 25px;
        font-weight: 700;
    }
}

.tiles {
    // width: 65vw;
    // background-color: blue;
    // margin-left: 406px;
    overflow: scroll;
    display: flex;
    position: relative;
    flex-direction: horizontal;
    height: 33vh;
    top: 0px;

    .tile {
        flex-direction: vertical;
    }
}