@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  font-family: 'Nunito', sans-serif;
}

.container h2 {
  text-align: center;
  margin: 25px auto;
}

.title {
  font-size: 30px;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

body {
  background-color: #FCFAF2;
}

.App {

}